# Use LLMs to query Database - *Text-to-Query*

This notebook demonstrates a simple workflow which uses **Vanna** to turn English sentences into SQL.

Large Language Models (LLMs) are getting increasingly popular. It is now possible to generate web applications, create apps and manipulate large-scale data using models like ChatGPT, Google Bard, and DALL-E.

It is now also possible to build a *Text-to-Query* system using Natural Language Processing (NLP) techniques. 

I will 

* briefly introduce the concept using **Venna** as an example
* then move back to the created DuckDB table for a small demonstration
* finally, I want to highlight the challenges and limitations of using such a technique in the data analytics field.

## Why **Venna**
I select **Vanna** mainly for demonstration purposes. There are other solutions like  __[AWS + Claudev2](https://aws.amazon.com/blogs/machine-learning/build-a-robust-text-to-sql-solution-generating-complex-queries-self-correcting-and-querying-diverse-data-sources/)__ and __[LangChain](https://github.com/langchain-ai/langchain)__. The problem is they require API keys and they are not free. 

Vanna,  also requires an API key, including an OpenAI key, but it is available for free for at least one month.
For more information about it please go to __[Venna.AI](https://vanna.ai/docs/postgres-openai-vanna-vannadb/)__
Their GitHbub is __[https://github.com/vanna-ai/vanna](https://github.com/vanna-ai/vanna)__.
Make sure you obtain your API key and model name according to 
* LLM = OpenAI via Vanna.AI (Recommended)
* training data = Vanna Hosted Vector DB (Recommended)
* Database = DuckDB


![How Venna works](img/1_KZNioLcEiA0y-cYn-Astsg.webp)

Now, let's look at how we query our listingGrpMonthly table using text.

In [ ]:
# %pip install vanna

In [ ]:
import vanna
from vanna.remote import VannaDefault

Here we create a default **Vanna** default model. 
To use the specific model you created online in previous step, you specify your api_key and model_name.

In [ ]:
# api_key = 'aa7f794af5d342d0a13c590204992cd0' # Your API key from https://vanna.ai/account/profile 

# vanna_model_name ='yang_test' # Your model name from https://vanna.ai/account/profile 
# vn = VannaDefault(model=vanna_model_name, api_key=api_key)

api_key = '8dc7d7e14e354782a3ed9f7e638c138e' # Your API key from https://vanna.ai/account/profile 
vanna_model_name ='duckdbtutorial_yw' # Your model name from https://vanna.ai/account/profile 
vn = VannaDefault(model=vanna_model_name, api_key=api_key)

In case we mess up the database created in the previous step and demonstrate how you can retrieve extra data from another database. </br>
Notice that we connect to a new database called 'dbtrain.db' first. </br>
Then **Attach** the previous database, my_database3.db, and call it *duck*. </br>
We **Create Table** *ListingIZMonthly* based on *listingGrpMonthly* in *duck*. </br>

In [ ]:
import duckdb as dd
# con.close()
con=dd.connect('my_database_exercise2.db')
con.sql('SHOW TABLES;')
con.sql("select count(*) from listingGrpMonthly")
# con.close()

In [ ]:
import duckdb as dd
con.close()
con=dd.connect('dbtrain_exercise_2.db')
con.sql('SHOW TABLES;')
con.sql("""SELECT database_name, path, type FROM duckdb_databases;""")

con.sql("""ATTACH 'duckdb:my_database_exercise2.db' AS duck;""")
con.sql("""SELECT database_name, path, type FROM duckdb_databases;""")

con.sql("""CREATE TABLE listingIZMonthly as FROM duck.listingGrpMonthly;""")
con.sql("""DETACH duck""")

con.sql("""show tables;""")
con.sql("""select * from listingIZMonthly""")

Now, we can see in the new *dbtrain.db*, there is a new table called *ListingIZMonthly*.

In [ ]:
con.sql("""show tables;""")

Now, we are ready to build the model. First, we connect the dbtrain.db to our Vanna model.

In [ ]:
vn.connect_to_duckdb('dbtrain_exercise_2.db')

In [ ]:
con.sql("""show tables;""")

In [ ]:
con.sql("""select * from listingIZMonthly """)

After reminding us what is inside the *listingIZMonthly* table, we start to organize a key query which is used to retrieve information from the table. </br>
We want to show the listing density at a monthly basis.

In [ ]:
con.sql("""
select month, year, listingRatio, intermediateZone from listingIZMonthly
where month='May' and year=2023
order by listingRatio asc
""")

In [ ]:
# not needed as the table created in this way
# con.sql("""ALTER TABLE listingIZMonthly RENAME dm TO month;""")
# con.sql("""ALTER TABLE listingIZMonthly RENAME dy TO year;""")
# con.sql("""ALTER TABLE listingIZMonthly ADD COLUMN ratioOfListings FLOAT DEFAULT (listings/HH)*100;""")
# con.sql("""ALTER TABLE listingIZMonthly RENAME Name TO IntermediateZone;""")

In [ ]:
vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

The schema of the database is very simple. We decide to use it as the generic training plan. </br>
If you have a very complicated schema, e.g. several tables with keys joining them, you may consider the part which is useful to the model.

In [ ]:
# The information schema query may need some tweaking depending on your database. This is a good starting point.
df_information_schema = vn.run_sql("SELECT * FROM INFORMATION_SCHEMA.COLUMNS")

# This will break up the information schema into bite-sized chunks that can be referenced by the LLM
plan = vn.get_training_plan_generic(df_information_schema)
plan

# If you like the plan, then uncomment this and run it to train
vn.train(plan=plan)

Our main training data is the *listingIZMonthly* table which shall be passed as ddl.

In [ ]:
vn.train(ddl="DESCRIBE SELECT * FROM listingIZMonthly;")

We then create a text vs sql pair as the training set. 
This part is critical for the LLM to match the embeddings between text and sql sentences.

In [ ]:
# here is an example of training on SQL statements
# In the listing ratio query of listingIZMonthly table.
vn.train(
question="listingRatio in intermediateZone every month"
,sql="""
    select month, year, listingRatio, intermediateZone from listingIZMonthly
    order by listingRatio asc
;
""")

We also can add a document as another form of training set.

In [ ]:
vn.train(documentation="The ratio of listings in intermediate zones (IZs)")

After these simple training steps, we are ready to run our model.</br>
We want to ask for some information about the listing ratio in different time frames and intermediate zones.</br
You will see some details about the transformation of query and data.</br>
An output is an SQL sentence the model generated based on the prompt.

In [ ]:
vn.ask("Which intermediateZone had the highest listingRatio in 2020? what is the month?", visualize=False, allow_llm_to_see_data=True)

We can execute the query in DuckDB to see if the result is correct.

In [ ]:
# con.sql("""
# SELECT listingRatio,intermediateZone, year, month
# FROM listingIZMonthly
# where year=2021
# ORDER BY listingRatio 
# ;
# """)
# LIMIT 1;

con.sql("""
select intermediateZone, month, max(listingRatio) as highestListingRatio
from listingIZMonthly
where year = 2020
group by intermediateZone, month
order by highestListingRatio desc
limit 1;
""")

In [ ]:
from vanna.flask import VannaFlaskApp
app = VannaFlaskApp(vn)
app.run()

# Some final reflections
We demonstrated how databases can be queried by plain language questions through Text-to-Query technique.  </b>
This technique is still developing along with LLMs.  </b>
Before considering using these models, you also need to know the challenges and limitations. </b>

* Hallucinations </br>
A model generates output that is not based on the provided context or facts. For text-to-SQL tasks, this means the system creates SQL queries referencing non-existent columns, tables, or filters.</br>
The latest techniques to fix this include clarifying schema, Retrieval-Augmented Generation (RAG), Reasoning + Acting (ReAct) and Chain of Thought (CoT), etc.</b>

* Preformance </br>
Different SQL queries can produce the same result. This leads to challenges in calculating the efficiency of AI-generated SQL. </br>
Query large databases easily increase unexpected costs to use LLMs. 
Hard to implement models in multi-disciplinary teams, e.g directly use spatial joins in the example. 

* Security </br>
Generating SQL from NLP often requires access to the local data, e.g. 'allow_llm_to_see_data' in Vanna. </br>
Using public LLM is not an option. Running a local LLM also comprises security. LLM can be manipulated to reveal sensitive user information. 

Now, it is your turn for some exercise. </b>
Please 
* use the explore different training data based on **listing per KM area** for each intermediate zone per month year;
* try spatial SQLs if you have time;
* Anyone wants to try vectorDB? 

## Reference 
https://medium.com/wrenai/reducing-hallucinations-in-text-to-sql-building-trust-and-accuracy-in-data-access-176ac636e208 </br>
    
https://medium.com/wrenai/reducing-hallucinations-in-text-to-sql-building-trust-and-accuracy-in-data-access-176ac636e208 </b>

https://www.k2view.com/blog/llm-text-to-sql/#Reducing-the-risks-of-LLM-text-to-SQL-models